<% if (!user) { %>
    <link rel="stylesheet" href="/stylesheets/siwg.css">
  <% } %>
</head>
<body>
  <nav>
    <ul>
      <li><% if (user) { %>
        <li id="nav-title">Skeletons in the Kitchen</li>
        <li><a href="/">Home</a></li>
        <li><a href="/restaurants">Restaurants</a></li>
        <li><a href="/cooks">Cooks</a></li>
        <li><a href="/cooks/<%= user.profile._id %>">My Profile</a></li>
        <a href="/auth/logout">
          Logout
        </a>
      <% } %>
    </li>
  </ul>
  </nav>
