<%- include('./partials/html-head') %>
<%- include('./partials/nav') %>

<main>
  <h1>Welcome to</h1>
  <h1>Skeletons in the Kitchen</h1>
  <div>
   <h3>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Soluta, quo. Molestias deleniti et eos labore adipisci? Dignissimos soluta, quibusdam quam officia omnis velit, nobis quae laudantium quisquam eaque ipsa inventore. Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam, est quae laudantium suscipit voluptates nesciunt expedita mollitia ipsa, tenetur aliquid cupiditate? Libero, delectus obcaecati cumque molestias neque deserunt iusto enim! Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit accusantium fugiat placeat quis, labore ut voluptas voluptatem fuga a praesentium error eveniet, eos tenetur distinctio quo excepturi sit et ex.</h3>
  </div>


</main>

<%- include('./partials/footer') %>
