html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after {
  /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default but can be overridden as needed */
  box-sizing: inherit;
}

/* resets font size to be 62.5% of the user preference - in most browser configurations this will be 10px */
:root {
  font-size: 62.5%;
  --display: 'Monoton', cursive;
  --cursive: 'Raleway', sans-serif;
  --beige: #E9Dcc9;
  --brick: #a22c29;
}

body {
  background-image: url('../images/bg.png');
  background-size: cover;
  background-attachment: fixed;
  /* Use a system font, if none are available use an available sans-sarif font */
  font-family: var(--cursive),system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  margin: 0;
  color: white;
  font-size: 18px;
}

nav {
  font-size: 18px;
  display: flex;
  justify-content: left;  
  font-family: var(--cursive);
  margin: 0 20px;
}

ul {
  list-style: none;
  overflow: hidden;
  flex-wrap: nowrap;
}

li {
  color: black;
  text-decoration: none;
  float: left;
  margin: 0 20px 0;
  color: white;
  padding: 10px;
}

nav ul li a {
  text-decoration: none;
  color: white;
  padding: 10px;
}

nav ul li a:hover {
  color: var(--brick);
}

#nav-title{
  margin-left: -50px;
  font-family: var(--display);
}

a {
  text-decoration: none;
  color: var(--brick);
}

a:hover {
  color: white;
}