h1 {
  font-family: var(--display);
  color: white;
  font-size: 30px;
}

h3 {
  font-size: 20px;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

button {
  font-family: var(--cursive);
  background-color: var(--brick);
  border-radius: 5px;
  border: none;
  padding: 5px;
  font-size: 15px;
  color: white;
}

button:hover {
  color: black;
}

table {
  margin-top: 40px;
  background-color: rgba(255, 255, 255, 0.65);
  border-radius: 5px;
  padding: 10px;
  color: black;
  font-size: 20px;
}

tbody td {
  text-align: center;
  padding: 15px;
}

th {
  font-size: 25px;
}
