h1 {
  font-family: var(--display);
  color: white;
  font-size: 30px;
}

h3 {
  font-size: 20px;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

button:hover {
  color: black;
}

table {
  margin: 40px 0 60px;
  background-color: rgba(255, 255, 255, 0.65);
  border-radius: 5px;
  padding: 20px;
  color: black;
  font-size: 18px;
}

tbody td {
  text-align: center;
  padding: 15px;
}

th {
  font-size: 23px;
}
