div {
  position: relative;
}

#restaurant-name {
  position: absolute;
  top: 0;
  margin-top: 60px;
  font-family: var(--display);
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.flex-container {
  display: flex;
  margin-top: 5%;
}

.btn,
.btn2{
  margin-left: 10px;
}

#res-loc {
  margin-top: 5%;
}
#res-cuisine {
  margin-top: 0;
}

.container {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.review-box {
  grid-column: 1/2;
  margin-left: 10%;
}

.reviews {
  display: block;
  grid-column: 2/2;
  background-color: rgba(255, 255, 255, 0.65);
  border-radius: 5px;
  margin-left: 20%;
  padding: 5%;
  width: 450px;
  color: black;
}

#add-review-form {
  background-color: rgba(255, 255, 255, 0.65);
  border-radius: 5px;
  padding: 20px;
  color: black;
  padding: 20px;
  height: 150px;
  width: 300px;
}

textarea {
  vertical-align: top;
  margin-left: 10px;
  background-color:  rgba(255, 255, 255, 0.404);
  border: none;
  height: 50px;
  width: 150px;
}

label {
  font-size: 20px;
  text-align: top;
}

select {
  background-color:  rgba(255, 255, 255, 0.404);
  border: none;
  margin-left: 18px;
  width: 30%;
}
#add-rev-btn {
  margin-top: 10%;
  float: right;
}

hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

#delete-btn {
  float:right;
}

#date,
#name,
#rate{
  font-weight: bold;
}

