<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <h1>Add Restaurant</h1>
  <a href="/restaurants">
    <button>Cancel</button>
  </a>
<form id="new-form" action="/restaurants" method="POST">
  <label for="restaurant-input">Restaurant Name:</label>
  <input type="text" name="name" id="restaurant-input" autocomplete="off">
  <label for="location-input">Location:</label>
  <input type="text" name="location" id="location-input" autocomplete="off">
  <label for="cuisine-input">Cuisine:</label>
  <input type="text" name="cuisine" id="cuisine-input" autocomplete="off">
  <button type="submit">Add Restaurant</button>
</form>
</main>

<%- include('../partials/footer') %>
